{% extends "layout.html" %}
{% block grup10elz %}

<h4>Yüz Tanımlama İşlemleri</h4>
<hr>
<div class="deneme">
<a href="/cam1/1" class="btn btn-secondary">Web Cam Aç</a>
<a href="/cam1/2" class="btn btn-success">Web Cam Kapat</a>
<a href="/cam1/3" class="btn btn-danger">Veri Seti Oluştur</a>
<a href="/cam1/4" class="btn btn-warning">Eğitim Yap</a>
<a href="/cam1/5" class="btn btn-info">Tanımlama İşlemi</a>
</div>
<br>
 {% if id=="1" %}
 <div class="baslik1">
 </div>
  <img id="bg" class="center" src="{{ url_for('video_feed') }}" >
{% elif id=="2" %}
<img id="bg" class="center" src="{{ url_for('static', filename='img/1.png') }}" >
<div class="baslik1"><h3>Web Cam Kapatıldı</h3>
 </div>
 {% elif id=="3" %}
   <img id="bg" class="center" src="{{ url_for('video_feed') }}" ><br>
 <form action='/add' method='post'>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Ad Soyad</label>
      <input type="text" class="form-control" id="adsoyad"  name="adsoyad" placeholder="Adsoyad">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">ID-NUMARA</label>
      <input type="text" class="form-control" id="numara" name="numara" placeholder="ID-NUMARA">
    </div>
  </div>
 <button type="submit" class="btn btn-secondary">Kaydet</button>
</form>
{% elif id=="4" %}
<div class="baslik1"><h3>Eğitim Yapıldı</h3>
 </div>
{% elif id=="5" %}
<div class="baslik1"><h3>Tanımlama İşlemleri Yapılıyor</h3>
 </div>
 {% else %}
 {{ url_for('cam') }}
 {% endif %}
     
    



{% endblock  %}
